/* Extended typography prose */

.prose {
  max-width: 100%;
}

.prose > h1, h2 {
  text-align: center;
}

.prose > hr {
  display: block;
  margin: auto;
  padding: 2px;
  border-bottom: 1px solid white;
}

.prose > p > a {
  color: gold;
}