/* Extended typography prose */

.prose {
  max-width: 100%;
}

.prose h1, .prose h2 {
  text-align: center;
}

.prose hr {
  display: block;
  margin: auto;
  padding: 2px;
  width: 75%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.prose p {
  padding: 1rem;
  font-size: 1.1rem;
}

.prose img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-height: 15rem;
}

@media (min-width: 768px) {
  .prose img {
    max-width: 30rem;
  }
}

.prose a {
  color: gold;
}

.prose a:hover {
  color: purple;
}