/* layer: default */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
}
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .arrow-bounce {
    animation: bounce 1s linear infinite;
  }
}


details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}