---
import "@unocss/reset/tailwind.css";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Game Development</title>
  </head>
  <body class="bg-neutral-950 text-white h-[150vh]">
    <Nav />
    <main></main>
  </body>
</html>
