---
import "@unocss/reset/tailwind.css";
import "../styles/Markdown.css";
import Nav from "../components/Nav.astro";
import Tree, { type SegmentTreeValue } from "../components/Tree.astro";
import MarkdownCard from "../components/MarkdownCard.astro";
import { TwitchEmbed } from "react-twitch-embed";

import { getEntry } from "astro:content";

const order = [
  "who_are_you",
  "what_skills",
  "what_kind",
  "build_team",
  "tools",
  "financing",
  "marketing",
  "launching",
];

const segmentPromises = order.map((name) => {
  return getEntry("gamedev", name);
});

const segments = await Promise.all(segmentPromises);

const treeVals: SegmentTreeValue[] = segments.map((val) => {
  const id: string = val!.slug;
  const name: string = val!.data.name;
  let sections: string[] = [];

  if (val!.data.sections?.length) {
    sections = val!.data.sections;
  }

  return {
    id: id,
    name: name,
    sub: sections,
  };
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Guides for anyone to start making games."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Game Development</title>
  </head>
  <body class="bg-black text-white pb-10">
    <Nav data={treeVals} />
    <main>
      <div class="flex">
        <div
          class="hidden md:block sticky top-2 h-full w-auto min-h-screen text-neutral-200"
        >
          <Tree data={treeVals} />
        </div>
        <div class="flex flex-col md:w-3/5 gap-4 md:gap-6 mx-auto">
          <div
            id="live-stream"
            class="prose w-4/5 mx-auto p-4 md:p-6 border border-(neutral-400 2) rounded-xl"
          >
            <h1>Live Twitch DevStream</h1>
            <TwitchEmbed
              channel="piratesoftware"
              autoplay
              muted
              width="100%"
              withChat={false}
              client:load
            />
          </div>
          {
            segments.map((currentSegment) => {
              return (
                <MarkdownCard
                  id={currentSegment!.slug}
                  img="/images/controller.png"
                  alt="controller segment header"
                  content={currentSegment!.body}
                />
              );
            })
          }
        </div>
      </div>
    </main>
  </body>
</html>
