---
import "@unocss/reset/tailwind.css";
import "../styles/Markdown.css";
import Nav from "../components/Nav.astro";

import { getEntry } from "astro:content";
import { markdown } from "@astropub/md";

const order = ["who_are_you"];

const segmentPromises = order.map((name) => {
  return getEntry("gamedev", name);
});

const segments = await Promise.all(segmentPromises);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Game Development</title>
  </head>
  <body class="bg-neutral-950 text-white h-[150vh]">
    <Nav />
    <main>
      <div></div>
      <div class="flex flex-col w-4/5 md:w-3/5 mx-auto">
        {
          segments.map((currentSegment) => {
            return (
              <div class="prose w-4/5 mx-auto">
                {markdown(currentSegment?.body ?? "")}
              </div>
            );
          })
        }
      </div>
    </main>
  </body>
</html>
