---
import ImgButton from "./ImgButton.astro";
import "../styles/Nav.css";
---

<nav class="md:h-32 p-4" id="site-nav">
  <div>
    <details class="fixed md:hidden">
      <div class="flex flex-row justify-center w-full gap-4 px-4 -ml-4">
        <ImgButton img="game" size="small" />
        <ImgButton img="stream" size="small" />
        <ImgButton img="jam" size="small" />
      </div>
      <summary class="py-4 arrow-bounce">
        <img src="button_arrow.png" alt="mobile-menu" />
      </summary>
    </details>
  </div>
  <div class="hidden md:(flex flex-row justify-center w-full gap-12 px-4)">
    <ImgButton img="game" size="normal" />
    <ImgButton img="stream" size="normal" />
    <ImgButton img="jam" size="normal" />
  </div>
</nav>
